$fontColor: #ffffff;
$bgColor: #ffffff;
$bgGrey: #f5f5f5;
$bgBlue: #445162;
$FontBlue: #445162;
$fontGrey: #333333;
$fontFamily: "Arial", sans-serif;

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

header {
  height: 323px;
  background-color: $bgBlue;
}

.content {
  padding: 50px;
}

h1 {
  color: $fontColor;
  font-family: $fontFamily;
  font-size: 60px;
  font-weight: 400;
  margin-top: -10px;
  margin-left: 5px;
}

.headerList {
  color: $fontColor;
  font-family: $fontFamily;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  list-style-image: url("./img/check_icon.png");
  padding-left: 45px;
}

#one {
  background-color: $bgColor;
  float: right;
}

.productTwo {
  height: 343px;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

#two {
  float: right;
  background-color: $bgBlue;
  margin-left: 80px;
  margin-right: -13px;
}

h2 {
  color: $FontBlue;
  font-family: $fontFamily;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.textOne {
  margin-top: 20px;
}

.productTwo p {
  color: $fontGrey;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 649px;
  padding: 10px 0 0;
}

.productThree {
  height: 414px;
  padding: 40px 50px 50px 50px;
  background-color: $bgGrey;
}

.productThree h2 {
  text-align: center;
}

.productThreeList {
  list-style-type: none;
  text-align: left;
  float: left;
  padding-left: 10px;
  padding-top: 30px;
}

.productThreeList li {
  background-image: url("./img/cross.png");
  background-repeat: no-repeat;
  background-position: top left;
  color: $fontGrey;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 526px;
  padding: 0 0 30px 40px;
}

.productThreeListTwo {
  list-style-type: none;
  text-align: left;
  float: right;
  padding-left: 0;
  padding-top: 30px;
}

.productThreeListTwo li {
  background-image: url("./img/cross.png");
  background-repeat: no-repeat;
  background-position: top left;
  color: $fontGrey;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 526px;
  padding: 0 0 30px 40px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.scrinshots {
  height: 487px;
}

.scrinshots h2 {
  text-align: center;
  padding-top: 40px;
}

.three {
  background-color: $bgBlue;
  float: left;
}

figure {
  padding-top: 30px;
  width: 580px;
}

.fig {
  padding-left: 50px;
}

.figa {
  padding-left: 5px;
}

figcaption {
  color: $fontGrey;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 37%;
}

h3 {
  color: $FontBlue;
  font-family: $fontFamily;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-left: 100px;
  padding-left: 19%;
}

.reviews {
  height: 420px;
  background-color: $bgGrey;
}

.reviews h2 {
  text-align: center;
  padding-top: 40px;
}

.comment {
  background-image: url("./img/bg_review.png");
  background-position: right;
  background-repeat: no-repeat;
  width: 570px;
  height: 121px;
  padding: 5px 0 20px 45px;
}

.comment img {
  margin-top: 10px;
}

.comment img:hover {
  opacity: 0.6;
}

.commentText {
  width: 430px;
  color: $fontGrey;
  font-family: $fontFamily;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 130px;
  margin-top: -65px;
}

.autor {
  height: 10px;
  color: #989898;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 130px;
  margin-top: 5px;
}

.rewOne {
  float: left;
  padding-top: 20px;
}

.rewTwo {
  float: right;
  padding-right: 50px;
  padding-top: 20px;
}

canvas:hover {
  opacity: 0.6;
}

.buy {
  height: 656px;
}

.buy h2 {
  text-align: center;
  padding-top: 40px;
}

.flexBuy {
  display: flex;
  flex-flow: row wrap;
}

.buyOne,
.buyThree,
.buyTwo {
  list-style-type: none;
  border: 1px solid black;
}

.buyOne {
  margin: 222px 25px 50px 140px;
  background-color: $bgBlue;
}

.buyTwo {
  margin: 124px 23px 50px 0;
  background-color: $bgBlue;
}

.buyThree {
  margin: 29px 25px 50px 0;
  background-color: $bgBlue;
}

.greatText {
  width: 300px;
  text-align: center;
  color: $fontColor;
  font-family: $fontFamily;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.price {
  width: 300px;
  height: 50px;
  color: $FontBlue;
  font-family: $fontFamily;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  background-color: $bgColor;
  text-align: center;
  padding-top: 18px;
}

.listText {
  width: 300px;
  color: $fontColor;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 15px -15px 15px 15px;
  text-align: left;
}

.button {
  width: 260px;
  text-align: center;
  background-color: $bgColor;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 0;
}

.button a {
  text-decoration: none;
  color: $bgBlue;
  font-family: $fontFamily;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.button:hover {
  opacity: 0.6;
}

.social {
  height: 509px;
  background-color: $bgBlue;
}

.social h2 {
  color: $fontColor;
  font-family: $fontFamily;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 40px;
  text-align: center;
}

#message {
  padding: 20px 571px 110px 249px;
  width: 500px;
  height: 279px;
  position: relative;
}

form {
  display: flex;
  flex-flow: column wrap;
}

form input {
  height: 40px;
  width: 490px;
  border-radius: 5px;
  margin: 10px;
  padding-left: 10px;
  outline: none;
}

form textarea {
  height: 160px;
  width: 494px;
  border-radius: 5px;
  margin: 10px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
}

.sub {
  width: 140px;
  height: 40px;
  margin-left: 180px;
  color: $FontBlue;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  padding-right: 5px;
}

.sub:hover {
  opacity: 0.6;
}

.socialContact {
  position: absolute;
  text-align: left;
  margin: -390px 0 0 800px;
  list-style-image: none;
  list-style-type: none;
  color: $fontColor;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.socialContact li img {
  margin: 10px 5px -5px 10px;
}

.socialContact li img:hover {
  opacity: 0.6;
}

.socialLink {
  position: absolute;
  margin: -210px 0 0 810px;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.socialLink img {
  padding-right: 5px;
}

.socialLink img:hover {
  opacity: 0.6;
}

footer {
  height: 20px;
  background-color: $bgGrey;
  text-align: center;
  font-family: $fontFamily;
  color: $FontBlue;
  font-size: 12px;
font-weight: 400;
line-height: 24px;
}
